* {
    box-sizing: border-box;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    -webkit-user-drag: none;
    -khtml-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;
}

html, body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    margin-bottom: 26px;
    /* animation-duration: 0.3s;
    animation-name: showIn; */
}

@keyframes showIn {
    from {
        transform: scale(0.8);
    }
    to {
        transform: scale(1);
    }
}

;
.content {
    margin-left: 10%;
    margin-right: 10%;
}

.header {
    width: 100%;
    color: #fff;
    background-color: #E83151;
    font-size: 1.8rem;
    padding: 16px;
    margin-bottom: 22px;
}

.title:hover {
    cursor: pointer;
}

.meals {
    padding-left: 45px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
}

.card-meal {
    margin: 28px 22px;
    border-radius: 8px;
    max-width: 450px;
    min-width: 250px;
    box-shadow: 2px 2px 8px 2px #d6d6d6;
}

.card-meal:hover {
    cursor: pointer;
    transform: scale(1.1);
    transition-duration: 0.3s;
}

.card-meal .thumb {
    max-width: 450px;
    min-width: 250px;
    max-height: 450px;
    max-height: 250px;
    border-radius: 8px;
}

.card-meal .info {
    margin-top: -20px;
    background-color: #E83151;
    padding-top: 25px;
    padding-left: 12px;
    padding-bottom: 12px;
    color: #fff;
    font-size: 1.2rem;
    font-weight: bold;
}

.card-meal .sub-info {
    padding: 12px;
    font-weight: bold;
    color: #757780;
}

.card-meal .sub-info .text {
    position: absolute;
    margin-top: 8px;
    margin-left: 12px;
}

@media(max-width: 580px) {
    .meals {
        justify-content: center;
        padding-left: 0;
    }
    .header {
        min-height: 65px;
    }
}

@media(max-width: 750px) {
    .content {
        margin: 0;
    }
}

.filter {
    margin-top: 12px;
    width: 100%;
    height: 48px;
    border-radius: 26px;
    border: none;
    font-size: 22px;
    padding: 20px;
}

.filter :focus {
    box-shadow: 2px 2px 8px 4px #d6d6d6;
}

.filter ::selection {
    box-shadow: 2px 2px 8px 4px #d6d6d6;
}

.filter :hover {
    box-shadow: 2px 2px 8px 4px #d6d6d6;
}