<!DOCTYPE html>
<html lang="pt_br" ng-app="TheMealsApp">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="index/index.css" />
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;1,400&display=swap"
        rel="stylesheet">
    <link rel='shortcut icon' type='image/x-icon' href='assets/side_list_120.png' />
    <title>The - Meals</title>
</head>

<body ng-controller="IndexController">

    <header class="header">
        <div class="title">
            Meals
        </div>
        <div>
            <input class="filter" id="inFilter" type="text" placeholder="Write to search" ng-model="filter"
                ng-change="onChangeFilter()" />
        </div>
    </header>

    <main class="content">
        <section class="meals" id="meals">
            <div ng-repeat="m in mealsFiltered">
                <div class="card-meal" ng-click="selectMeal(m)">
                    <img alt="Thumb meal" class="thumb" src="{{m.strMealThumb}}" />
                    <div class="info">{{m.strMeal}}</div>
                    <div class="sub-info">
                        <img height="32px" width="32px" src="assets/world_120.png" alt="world" />
                        <span class="text">{{m.strArea}}</span>
                    </div>
                    <div class="sub-info">
                        <img height="32px" width="32px" src="assets/info_120.png" alt="info" />
                        <span class="text">{{m.strCategory}}</span>
                    </div>
                </div>
            </div>
        </section>
    </main>

    <script src="lib/angular/angular.min.js"></script>
    <script src="index/index.js"></script>
    <script src="index/indexController.js"></script>
</body>

</html>