<!DOCTYPE html>
<html lang="pt_br" ng-app="info">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="info.css"/>
        <title>The - Meals</title>
    </head>

    <body ng-controller="InfoController">
        <header class="header">
            <div class="back" ng-click="backPage()">
                <img height="42px" width="42px" src="../assets/back.svg" alt="back" />
            </div>
            <div class="title">{{meal.strMeal}}</div>
        </header>

        <main class="content">
            <section class="meal" id="meal">
                <h3>Ingredients</h3>
                <div class="ingredients" >
                    <div class="item" ng-hide="!i.description" ng-repeat="i in ingredients">
                        <span>{{i.description}} - {{i.measure}}</span>
                    </div>
                </div>

                <div class="instructions">
                    <h3>Cooking instructions</h3>
                    <p>{{meal.strInstructions}}</p>
                </div>

                <div class="more">
                    <h3>More less:</h3>
                    <p><a href="{{meal.strSource}}">{{meal.strSource}}</a></p>
                    <p><a href="{{meal.strYoutube}}">{{meal.strYoutube}}</a></p>
                </div>
            </section>
        </main>

        <script src="../lib/angular/angular.min.js"></script>
        <script src="infoModule.js"></script>
        <script src="infoController.js"></script>
    </body>

</html>