* {
    box-sizing: border-box;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    -webkit-user-drag: none;
    -khtml-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;
}

html, body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    margin-bottom: 26px;
    animation-duration: 0.25s;
    animation-name: showIn;
}

@keyframes showIn {
    from {
        transform: scale(0.9);
    }
    to {
        transform: scale(1);
    }
}

;
.content {
    margin-left: 10%;
    margin-right: 10%;
}

.header {
    width: 100%;
    color: #fff;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: #E83151;
    padding: 2%;
    font-size: 1.8rem;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 22px;
    max-height: 120px;
}

.header .back {
    position: absolute;
}

.header .back:hover {
    cursor: pointer;
    transform: scale(1.1);
    transition-duration: 0.3s;
}

.header .title {
    margin-left: 90px;
}

.meal {
    padding: 26px;
    font-size: 1.4rem;
}

.ingredients {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.ingredients .item {
    padding: 12px;
    margin: 16px;
    border-radius: 8px;
    box-shadow: 2px 2px 8px 6px #d6d6d6;
}

@media(max-width: 580px) {
    .header {
        min-height: 65px;
    }
}

@media(max-width: 750px) {
    .content {
        margin: 0;
    }
}